<div class="container">
  <h1>Angular Google Maps (AGM) Demo</h1>
  <p>
    <a href="https://angular-maps.com/" target="_blank">Official Website</a>
  </p>

  <div class="row mb-5">
    <div class="col-md-8">
      <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
      >
        <agm-marker
          [latitude]="lat"
          [longitude]="lng"
          [markerDraggable]="false"
        >
          <agm-info-window [isOpen]="false">
            <strong>Latitude: {{ lat }}</strong>
            <br />
            <strong>Longitude: {{ lng }}</strong>
            <br />
            <strong> {{ address }} </strong>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4">
      <form (ngSubmit)="updateCoordinates(f)" #f="ngForm" class="form-group">
        <div class="form-group">
          <label for="lat">Latitude</label>
          <input
            type="number"
            id="lat"
            name="lat"
            placeholder="Latitude"
            ngModel
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="lng">Longitude</label>
          <input
            type="number"
            id="lng"
            name="lng"
            placeholder="Longitude"
            ngModel
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div> -->
  <app-geocode-lookup
    (coordinatesUpdated)="onCoordinatesUpdated($event)"
  ></app-geocode-lookup>
</div>
